[submodule "3rd/skynet"]
	path = 3rd/skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "3rd/luafilesystem"]
	path = 3rd/luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "3rd/Penlight"]
	path = 3rd/Penlight
	url = https://github.com/stevedonovan/Penlight.git
[submodule "3rd/redis"]
	path = 3rd/redis
	url = https://github.com/antirez/redis.git
[submodule "3rd/levent"]
	path = 3rd/levent
	url = https://github.com/xjdrew/levent.git
[submodule "3rd/enet"]
	path = 3rd/enet
	url = https://github.com/lsalzman/enet.git
[submodule "3rd/lsocket"]
	path = 3rd/lsocket
	url = https://github.com/cloudwu/lsocket.git
[submodule "3rd/argparse"]
	path = 3rd/argparse
	url = https://github.com/mpeterv/argparse.git
[submodule "3rd/unqlite"]
	path = 3rd/unqlite
	url = https://github.com/symisc/unqlite.git
[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
